*{background-color: white;}

.MainText{
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aliceblue;
}

.Background{
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
    top: 10%;
    left: 30%;
    box-sizing: content-box;
    width: 40%;
    height: 80%;
    background-color: aliceblue;
}
  
  dl dt {
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  dl dt:nth-child(odd) {
    background: aqua;
  }
